@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

body {
    font-family: "Lexend Deca", sans-serif;
    font-size: 15px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(0, 0%, 95%);
}

.cards {
    display: flex;
    border-radius: 10px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 300px;
    height: 500px;
    padding: 45px;
}

.car-image {
    margin-bottom: 30px;
}

.car-name {
    color: hsl(0, 0%, 95%);
    font-family: "Big Shoulders Display", sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.car-description {
    line-height: 25px;
    color: hsla(0, 0%, 100%, 0.75);
    margin-bottom: 100px;
}

.button {
    border: 2px solid hsl(0, 0%, 95%);
    background-color: hsl(0, 0%, 95%);
    padding: 15px 25px;
    border-radius: 30px;
    font-weight: 500;
    transition: 0.3s ease-in-out;
}

.sedan {
    background-color: hsl(31, 77%, 52%);
    border-radius: 10px 0 0 10px;
}

.sedan .button {
    color: hsl(31, 77%, 52%);
}

.suvs {
    background-color: hsl(184, 100%, 22%);
}

.suvs .button {
    color: hsl(184, 100%, 22%);
}

.luxury {
    background-color: hsl(179, 100%, 13%);
    border-radius: 0 10px 10px 0;
}

.luxury .button {
    color: hsl(179, 100%, 13%);
}

.sedan .button:hover,
.suvs .button:hover,
.luxury .button:hover {
    color: hsl(0, 0%, 95%);
    border: 2px solid hsl(0, 0%, 95%);
    background-color: transparent;
}